/* CSS reset */
img {
    max-width: 100%;
    vertical-align: top;
}

h1, h2, h3 {
    margin: unset;
    padding: unset;
    font-weight: unset;
}

p {
    margin: unset;
}


/* Typograph */
* {
    font-family: 'Arial';
}


/* Layout */
.l_wrapper {
    box-shadow: inset 0 0 20px red;
    /* max-width: 1200px; */
    margin: 0 auto;
    position: relative;
}

/* Web Design */
body {
    background-color: #111;
}


.header-inside {
    position: relative;
    display: flex;
    z-index: 0;
    align-items: flex-end;
    min-height: 676px;
    gap: 30px;
}

.header-inside .header-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-inside .header-title {
    z-index: 3;
    color: white;
    font-size: 64px;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 26px;
    flex-basis: 0;
    flex-grow: 1;
}

.header-inside .header-title::before {
    z-index: 3;
    display: block;
    border: 0px solid #ff2e00;
    content:'N E W';
    width: fit-content;
    font-size: 12px;
    background-color: #ff2e00;
    padding: 4px 12px; 
    border-radius: 8px;
}

.header-inside .header-title::after {
    z-index: -1;
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


main .main-inside {
    display: flex;
    background-color: #111;
    gap: 100px;
}

main .movie-explain {
    flex-grow: 1;
    flex-basis: 0;
    color: #999;
    line-height: 1.6;
    padding-top: 26px;
}

main .side-bar {
    color: white;
    margin-left: auto;
    max-width: 300px;
    margin-top: -60px;
    flex-grow: 1;
    flex-basis: 0;
}

main .movie-explain .movie-info {
   white-space: pre-line;
   margin-left: 60px;
}

.side-bar .side-bar-title {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.side-bar .side-bar-header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 50px;
    row-gap: 4px;
    column-gap: 6px;
}

.side-bar .side-bar-header .tag {
    color: #aaa;
    border: 1px solid #222;
    background-color: #222;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.6;
    padding: 0 14px;
}

.side-bar .side-bar-rating {
    margin-bottom: 40px;
}

.side-bar .side-bar-rating .side-bar-rating-title {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.side-bar .side-bar-rating .rating-area {
    display: flex;
    flex-wrap: wrap;
}

.side-bar .side-bar-rating .Rating-star {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 55px;
}

.side-bar .side-bar-casts {

}

.side-bar .side-bar-casts .casts-title {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.side-bar .side-bar-casts .cast-member-list{
    display: flex;
    justify-content: left;
}

.side-bar .side-bar-casts .cast-member-list .cast-member {
    width: 64px;
    height: 64px;
    border: 4px solid #111;
    border-radius: 50px;
    margin: 26px -15px 26px 0px;
}

@media (max-width: 700px)
{
    main .main-inside {
        flex-direction: column;
        gap: 37px;
    }

    main .movie-explain .movie-info {
        white-space: pre-line;
        margin: 0 60px;
     }

     main .side-bar {
        color: white;
        margin : 0 auto 0 60px;
        max-width: 300px;
    }
}